.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.price {
  background-color:#222;
  color: #fff;
  display: inline-flex;
  font-size: 2em;
  font-weight: bold;
  margin: 30px auto 0 auto;
}
.price span {
  padding: 5px 20px;
}
.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #0F1820;
}
.donate {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  border: 3px dashed #0AC18E;
  padding: 5px 20px;
  border-radius: 5px;
}
.donate .items {
  font-size:0.6em;
  display: block;
}
.donate img {
  width:100px;
}
.donate h2 {
  color:#0AC18E;
}
.colored {
  color: #0AC18E;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
